body {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: #747474;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  line-height: 2;
  margin: auto;
}
li {
  display: inline-block;
}
a {
  color: #ababab;
  text-decoration: none;
}

a:hover {
  color: #3cc5b2;
}
.active {
  color: #3cc5b2;
}
.docplanner-logo {
  display: flex;
  justify-content: space-between;
}
/* This style will be 98% Made By Oussama Bessaad */
.docplanner-header {
    position: fixed;
    top: 0;
    left: 85px;
    width: 87.4%;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .55s ease .23s;
    display: flex;
    justify-content: space-between;
    border: 1px hidden red;
    -webkit-transition: box-shadow .55s ease .23s;
    -moz-transition: box-shadow .55s ease .23s;
    -ms-transition: box-shadow .55s ease .23s;
    -o-transition: box-shadow .55s ease .23s;
}
/*
.header-menu {
  position: fixed;
  right: 170px;
}
*/

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.introduction-title {
  font-size: 2.125rem;
  color: #00b39b;
}
.introduction-text {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
}
.intro-parag {
  margin: 10px;
  text-align: justify;
}
.services {
  display: flex;
}
.service-card-for {
  font-size: 1.625em;
  font-weight: 400;
  color: #fff;
  margin: 0.3em 0;
}
.service-card-title {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  color: #fff;
}
.service-card-patients {
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  background-color: #00ccb1;
  text-decoration: ivory;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.service-card-doctors {
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  background-color: #3d83df;
  text-decoration: ivory;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.service-card-clinics {
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  background-color: #1b2734;
  text-decoration: ivory;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.service-card-content {
  padding-top: 20px;
}

.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  padding-top: 10px;
  position: absolute;
  min-width: 220px;
  margin-left: -100px;
  background: #fff;
  box-shadow: 0 5px 10px 0 #d3cfc9;
  z-index: 1;
}
.dropdown-content a,
.dropdown-content li {
  display: block;
  width: 90%;
}
.dropdown-content a {
  color: #747474;
  line-height: 120%;
  padding: 12px 16px !important;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content a:hover {
  background-color: #f6f8f8;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.global-title {
  display: flex;
  flex-basis: 1;
  font-size: 1.625rem;
  color: #00b39b;
}

.global-text {
  justify-content: start;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
}

.stats {
  padding: 1.875em 0 0.625 em;
  overflow: hidden;
  margin: 3.125 rem auto 5.5 rem;
  display: block;
  max-height: 520px;
}

.grid-container {
  justify-content: space-between;
  display: grid;
  grid-column: auto;
  grid-template-columns: 50% auto auto;
  background: #e5faf8 url(/images/logo.png);
  background-image: linear-gradient(
    -45deg,
    rgba(0, 204, 177, 0.01) 5%,
    rgba(61, 199, 223, 0.1)
  );

  padding: 10px;
  margin: 5px;
}
.grid-item1 {
  padding: 30px;
  font-size: 30px;
  text-align: left;
}
.grid-item2 {
  margin-top: 40px;
  padding: 10px;
  font-size: 30px;
  text-align: left;
}
.grid-item3 {
  padding: 10px;
  font-size: 30px;
  text-align: left;
}

.stats-title {
  font-size: 1.625rem;
  font-weight: normal;
  color: #00b39b;
}
.p-stats-sub {
  font-size: 0.925rem;
  display: table-cell;
}
.p-stats {
  font-size: 0.625rem;
}
.div-stats {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  display: table-cell;
  width: 200px;
  height: 200px;
  text-align: center;
  float: left;
  margin: 10px;
}
.h3-stats {
  font-size: 0.5461538462em;
  color: #00b39b;
  margin: 0.5em 0;
  font-weight: 100;
  letter-spacing: -0.3px;
}
.office-header {
  display: block;
  justify-content: space-between;
  text-align: center;
  line-height: normal;
}
.header-title {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.h-title {
  font-size: 2.1428571429em;
  color: #00b39b;
  font-weight: 300;
  letter-spacing: -0.3px;
}
.h-content {
  display: inline-block;
  width: 460px;
  font-size: 0.9rem;
}

.offices-slider {
  display: flex;
  flex-wrap: wrap;
}

.office__desc {
  display: flex;
  justify-content: space-around;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.6666666667;
  padding: 1.1111111111 em;
}
.join-us {
  margin-bottom: 0;
  margin-top: 25px;
  text-align: center;
}
.pjoin-us {
  font-size: 1.6428571429em;
  color: #333;
  font-family: roboto, Arial, sans-serif;
  font-weight: 1;
  letter-spacing: -0.9px;
}

.main-footer {
  border-top: 1 px solid #eef2f2;
  text-align: center;
  margin-top: 100px;
  padding: 1 em 0;
 
}

.section__inner {
  font-size: 10px;
  color: #ababab;
  zoom: 1;
  max-width: 1015 px;
  padding: 0 20 px;
  margin: 0 auto;
  position: relative;
}
.a-footer {
  
    text-decoration: none;
    color: #3d83df;
    outline: 0;
    transition: all .2s ease 0s;

}





.btn {
  display: inline-block;
  vertical-align: middle;
  width: 103.67;
  height: 29.33px;
  position: relative;
  outline: 0;
  border: 0;
  border-radius: 4px;
  padding: 1.1666666667em1.5em;
  background: #3d83df;
  font-family: Roboto, Arial, sans-serif;
  line-height: 3.2em;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 0.55rem;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
